<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Detalles Producto</title>
</head>
<body>
<form action="#" th:object="${producto}" method="post">
<table>
<tr>
<th>Nombre Producto</th>
</tr>
<tr>
<td th:text="*{nombreProducto}"></td>
</tr>
</table>
<table>
<tr>
<th>Precio</th>
</tr>
<tr>
<td th:text="*{precio}">€</td>
</tr>
</table>
<table>
<tr>
<th>Stock</th>
</tr>
<tr>
<td th:text="*{stock}"></td>
</tr>
</table>
<table>
<tr>
<th>Categoria</th>
</tr>
<tr>
<td th:text="*{categoria}"></td>
</tr>
</table>
<table>
<tr>
<th>Descripcion</th>
</tr>
<tr>
<td th:text="*{descripcion}"></td>
</tr>
</table>


</form>
</body>
</html>