<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" th:href="@{/images/logo.ico}" type="image/ico" />
<title>Editar Usuario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="canonical"
	href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
<link href="src/main/webapp/WEB-INF/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="sticky-footer-navbar.css" rel="stylesheet">
</head>
<body style="background-color: #117733;">
	<header>
		<!-- Barra de navegacion -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/A&DStore">A&D Store</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarCollapse" aria-controls="navbarCollapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link"
						href="/A&DStore/login"> Ingresar</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/A&DStore/signup"> Registrarse</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/A&DStore/cliente/perfil"> Perfil</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/A&DStore/compras/cesta"> Carrito</a></li>
				</ul>
				<!-- Falla. Manda al login -->
				<form class="form-inline mt-2 mt-md-0"
					th:action="@{./producto/list}" method="post">
					<input class="form-control mr-sm-2" type="text"
						placeholder="Ingrese Producto" aria-label="Search" name="producto">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Busqueda
						Producto</button>
				</form>
			</div>
		</nav>
	</header>
	<form>
		<input type="text" id="producto" name="producto" /> <input
			type="submit" value="Busqueda" />
	</form>
	<div class="container my-5">
		<h1>Editar Usuario</h1>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form th:action="@{/editar_User}" method="post">
						<div class="row">
							<br />
							<div class="form-group col-md-8">
								<h2>Datos personales</h2>
							</div>
							<br /> <br /> <br />
							<div class="form-group col-md-6">
								<label for="username">Username</label>: <input type="text"
									id="username" name="username" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="password">Password</label>: <input type="int"
									id="password" name="password" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="nombre">Nombre</label>: <input type="text"
									id="nombre" name="nombre" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="apellidos">Apellidos</label>: <input type="text"
									id="apellidos" name="apellidos" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="email">Email</label>: <input type="text" id="email"
									name="email" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="fechaNa">Fecha de nacimiento</label>: <input
									type="date" id="fechaNa" name="fechaNa" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="direccion">Direccion de envio</label>: <input
									type="text" id="direccionEnvio" name="direccionEnvio" /> <br />
							</div>
							<br /> <br /> <br /> <br />
							<div class="form-group col-md-8">
								<h2>Datos de pago</h2>
							</div>
							<br /> <br /> <br />
							<div class="form-group col-md-6">
								<label for="banco">banco</label>: <input type="text" id="banco"
									name="banco" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="numTarjeta">Numero de tarjeta</label>: <input
									type="long" id="numTarjeta" name="numTarjeta" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="titular">Titular</label>: <input type="text"
									id="titular" name="titular" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="codigoS">Codigo de seguridad</label>: <input
									type="int" id="codigoS" name="codigoS" /> <br />
							</div>
							<div class="form-group col-md-6">
								<label for="direccionFa">Direccion de facturacion</label>: <input
									type="text" id="direccionFa" name="direccionFa" /> <br />
							</div>
							<div class="col-md-8">
								<input type="submit" value="Editar" />
							</div>
							<div class="form-group col-md-8"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<center>
		<form th:action="@{/Borrar}">
			<input type="submit" value="Borrar" />
		</form>
	</center>
</body>
</html>