<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Editar</title>
  </head>
  <body style="background-color:#117733;">
    <h1>Editar</h1>
    <form th:action="@{/editar_User2}" method="post">
      <label for="username">Username</label>:
      <input type="text" id="username" name="username"/> <br/>
      <label for="password">Password</label>:
      <input type="password" id="password" name="password" /> <br/>
      <label for="direccion">Direccion</label>:
      <input type="direccion" id="direccion" name="direccion" /> <br/>
      <input type="submit" value="Editar"/>
      <input type="submit" value="Borrar"/>
    </form>
  </body>
</html>