<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Listado productos</title>
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
</head>
<body style="background-color: #117733;">
	<div class="container my-5">
		<h1>Listado de Productos</h1>
		<div class="card">
			<div class="card-body">
				<table width="100%" height="100%" style="margin: 0 auto;">
		<thead >
			<tr>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Stock</th>
				<th>Categoria</th>
				<th>Descripcion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${productos}">
				<td th:text="${producto.nombreProducto}"></td>
				<td th:text="${producto.precio}"></td>
				<td th:text="${producto.stock}"></td>
				<td th:text="${producto.categoria}"></td>
				<td th:text="${producto.descripcion}"></td>
			</tr>
		</tbody>
	</table>
			</div>
		</div>
	</div>
</body>
</html>