<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>Lista de Profesores</title>
	<!-- Required meta tags -->
	<meta http-equiv=”Content-Type” content=”text/html />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
		crossorigin="anonymous">
	</head>
	<body>
	
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item active"><a href="productos/list">Productos</a></li>
			</ol>
		</nav>
	
		<h4 class="display-1">Lista de productos</h4>
	
		<p>En esta página puedes encontrar los productos de nuestra tienda:
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Nombre</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${productos.empty}">
					<td colspan="2">No existen productos en el sistema</td>
				</tr>
				<tr th:each="producto : ${productos}">
					<td><span th:text="${producto.nombreProducto}"> Nombre </span></td>
					<td><a
						th:href="@{/producto/{id}(id=${producto.idProducto})}"
						class="btn btn-primary"><i class="fas fa-user"></i></a></td>
				</tr>
			</tbody>
	</body>
</html>