<html lang="es">
<head>
<title>A&D Store</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<body style="background-color:#117733;">
	
 	<div class="card text-center" style="background-color:#116633;">
		<h1>A & D Store</h1>
	</div>
	<div class="card text-center" style="background-color:#BBB777;">
		<h2>Bienvenido</h2>
				     
		    	
		<p> Si estas registrado logueate </p>
		
		<a href="login"> Login</a>
	
		<p> Y si no lo estas registrate </p>
		<a href="signup"> Registrarse </a>
	</div>
	<CENTER>
	<h2>Productos en Oferta!</h2>
	<table border>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Informacion</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producto : ${productos}">
        <td th:text="${producto.nombreProducto}"></td>
        <td th:text="${producto.precio}"></td>
        <td th:text="${producto.stock}"></td>
        <td>
        <form action="login" method="get">
        <input type="hidden" name="prueba" value="1" >
        <input type="submit" value ="Enviar">
        </form>
        </td>
    </tr>
    </tbody>
</table>
</CENTER>
</body>
</html>